/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */

header {
    width: 100%;
    background-color: green;
}

nav.container-flex {
    width: 100%;
    height: 120px;
    background-color: rgb(141, 219, 245);
    display: flex;
    justify-content: center;
    padding-top: 35px;
}

.item {
    width: calc(80% / 3);
    height: 50px;
    background-color: orange;
    border: 1px dashed black;
}

ul.container-flex {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 20px;
    justify-content: center;
}

.banner {
    width: 100%;
    height: 500px;
    background-color: rgb(25, 25, 144);
    display: flex;
    justify-content: center;
    align-items: center;
}

.benner-item {
    width: 50%;
    height: 300px;
    background-color: pink;
    border: 1px dashed black;
}

/* MAIN */

.section-main{
    width: 100%;
    height: 500px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.content-section{
    width: 80%;
    height: 400px;
    margin: 0 auto;
    border: 1px dashed black; 
    display: flex;
    flex-direction: row;
}

.image-section {
    width: 60%;
    height: 400px;
    background-color: blue;
    border: 1px dashed black; 
}

.text-section {
    width: 40%;
    height: 400px;
    background-color: pink;
    border: 1px dashed black;
}

.gray{
    background-color: rgb(153, 164, 175);
    display: flex;
    flex-direction: row-reverse;
}

.special-content-section {
    width: 80%;
    height: 400px;
    background-color: green;
    margin: 0 auto;
    border: 1px dashed black;
}

/* FOOTER */
/* Footer top */
footer {
    width: 100%;
    min-height: 600px;
    background-color: rgb(29, 29, 29);
    padding-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-top {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* border: 2px solid white; */
}

.icons {
    width: 40%;
    height: 400px;
    background-color: coral;
    border: 1px dashed black;
}

.menu-footer {
    width: 60%;
    height: 400px;
    background-color: olive;
    border: 1px dashed white;
}

ul.item-menu-footer {
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
}

.item-menu-footer li{
    width: calc(100% / 4);
    border: 1px dashed white;   
}

/* Footer bottom */

.footer-bottom {
    width: 100%;
    height: 100px;
    border-top: 1px solid white;
    display: flex;
    justify-content: center;
}

.container-items-footer {
    width: 80%;
    height: 70px;
    background-color: aquamarine;
    margin-top: 40px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-footer , .button-footer {
    width: 70px;
    height: 30px;
    background-color: pink;
    border: 1px dashed black;
}